
body{
	font-family: 'Raleway', sans-serif;
	width: 100%;
	margin: 0;
}


/*---------------- HEADER ----------------*/
header{
	width: 100%;
	display: flex;
	margin: 1.5em 0 2em 0;

}
.elementMenu:nth-child(1) {
	flex:1;
}
header a{
	margin: 0;
}
nav{
	margin: 0;
	padding-top: 1em;
}
nav a{
	text-decoration: none;
	color: black;
	padding: 2.35em 2.5em 0 2.5em;
}
nav a:nth-child(1){
	color: #0065FC;
	border-top: 0.2em solid #0065FC;
}
nav a:nth-child(3){
	color: #0065FC;
	font-weight: bold;
}
nav a:hover{
	color: #0065FC;
}

.hideN{
	display: none;
}

/*----------- SECTION RECHERCHE ----------*/
section{
	margin: 0;
	padding: 1em;
}
section h1{
	margin: 0 0 0.3em 0;
}
.secP{
	margin: 0 0 0.5em 0;
}
.elementMenu:nth-child(1){
	margin-left: 1em;
}

/*----------- champs géoloc-----------*/

#champsRecherche{
	margin: 1em 0 1em 0;
	display: flex;
}
#champsRecherche a{
	background-color: #f2f2f2;
	border-radius: 15px 0 0 15px;
}
.fa-map-marker-alt{
	padding: 0.9em;
	color: black;
}
.geoloc{
	font-weight: bold;
	height: 3em;
	border:#f2f2f2 1px solid;
	padding-left: 1em; 
}
.geoloc:focus{
	border:#f2f2f2 1px solid;
}
.geoloc::placeholder{
	color: black;
}

.secB{
	border: none;
	color: white;
	font-weight: bold;
	background-color: #0065FC;
	padding: 1em;
	border-radius: 0 15px 15px 0; 
}


/*-------------- Filtres------------------*/
#filtres{
	display: flex;
	margin: 2em 0 1.5em 0;
}

#filtres a{
	text-decoration: none;
}
#filtres a:hover{
	    cursor: pointer;
}
#filtres p{
	font-weight: bold;
	padding: 0.7em 0.5em 0.5em 0.5em;
	margin-block-start: 0;
    margin-block-end: 0;

}
#filtres p:nth-child(1){
padding: 0.5em 0.5em 0.5em 0em;
	}


#filtres button{
	display: flex;
	cursor: pointer;
}
button{
	padding: 0;
}

.filtresB{
	height: 38px;
	background-color: #ffffff;
	border-radius: 18px 18px 18px 18px;
	border: 2px solid #c9c9c9;
	margin-right: 0.7em;
}
.filtresB i{
	position: relative;
	bottom: 0.2em;
	right: 0.2em;

}

.filtresB:nth-child(1){
	margin-left: 20px;
}



.btnH{
	color: #0065FC;
	padding: 1em 1em 1em 1em;
	border-radius:50%;
  	background-color: #deebff;
}


.fa-male{
	padding: 1em 1.3em 1em 1.3em;
}



#infoPoint{
	display: flex;
	margin: 1.5em 0 1.5em 0;
	align-items: center;
}
#infoPoint p{
	margin-left: 0.5em;
}
.fa-info{
	color:#0065FC;
	font-weight: 100;
	padding: 0.5em 0.6em 0.5em 0.6em;
	border-radius:50%;
  	border:2px solid #f2f2f2;
}

/*---------------- HEBERGEMENTS ----------------*/

#hebergements{
	display: flex;
}
/*---------------- HEBERGEMENTS A MARSEILLE ----------------*/
#heberMarseille{
	width: 65%;
	border-radius: 30px;	
	background-color: #f2f2f2;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
#hebergement2{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#heberMarseille h2{
	width: 100%;
	padding-left: 1em;
}
#heberMarseille a{
	text-decoration: none;
	color: black;

}
.heberM{
	width: 200px;
	min-height: 250px;
	background-color: #FFFFFF;
	padding: 0.5em;
	border-radius: 30px;
	box-shadow: 2px 2px 15px 0.5px grey;
	margin: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}


.heberM img{
	width: 100%;
	max-height: 110px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}
.heberM p{
	margin: 0 0 0 0;
	padding-top: 0.5em;
}


#heberMarseille h3 {
	margin: 0.5em 0 0 0;
}

.fa-star{
	color: gray;
	cursor: pointer;
	padding: 0.0625rem;
}
.blue{
	color: #0065FC;
}
.afficherPlus{
	width: 100%;
	text-align: left;
	margin-left: 1.5em;
	margin-bottom: 1em;
	font-weight: bold;
}



#hebergement2 figcaption {
	padding-left: 1em;
	display: flex;
	flex-direction: column;
}
#hebergement2 .stars{
	display: flex;
	flex-direction: row;
	font-size: 1em;
	padding-left: 1em;
	
}

/*---------------- LES PLUS POPULAIRES ----------------*/
aside{
	width: 35%;
	background-color: #F2F2F2;
	margin-left: 1em;
	border-radius: 30px;	
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	align-content: space-around;
}
#plusPops{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: center;
}

#titlePop{
	display: flex;
	justify-content: space-between;
}
#titlePop i{
	margin: 0.5em 2em 0 0;
}

aside h2{
	padding-left: 10%;
}
aside a{
	text-decoration: none;
	color: black;
}
.pops{
	width: 80%;
	min-height: 150px;
	background-color: #FFFFFF;
	padding: 0.5em;
	border-radius: 30px;
	box-shadow: 2px 2px 15px 0.5px grey;
	margin-left: 10%;
	display: flex;	
}
aside .stars{
	display: flex;
	flex-direction: row;
	
}


.pops img{
	width: 35%;
	height: 150px;
	border-radius: 20px 0 0 20px;
	object-fit: cover;
}
aside figcaption {
	padding-left: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
aside h3 {
	margin: 0.5em 0 0.5em 0;
}


/*---------------- ACTIVITES A MARSEILLE ----------------*/
#activites{
	height: 440px;
}
#activitesM{
	width: 100%;
	display : flex;
	height: 350px;
}
#activitesM a{
	text-decoration: none;
	color: black;
}

.actM{
	border-radius: 20px;
	box-shadow: 2px 2px 15px 0.5px grey;
	height: 100%;
}
.actM img{
	width: 100%;
	height: 85%;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}
.actM h3{
	margin: 0 0 0 0;
	padding: 0.8em 1em 1em 1em;
	font-size: 1em;
}

.actMD{
	width: 24%;
	height: 100%;
}
.actMD figure{
	margin: 0 1.2em 0 1.2em;
}

.act13 figure{
	margin: 0 1.2em 0 0;
}
.act45 figure{
	margin: 0 0 0 1.2em;
}

.actMD-middle img{
	width: 100%;
	height: 71%;
}


.actMD-middle{
		height: 50%;
}

.actMD-small{
		height: 37%;
}
.actMD-small img{
	width: 100%;
	height: 61%;
}


.actMD:nth-child(2n){
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}




/*---------------- FOOTER ----------------*/
footer{
	display: flex;
	justify-content: space-around;
	background-color: #F2F2F2;
	width: 100%;
}
footer h4{
	font-weight: bolder;
	margin: 2.5em 0 1.5em 0;
}
footer ul{
	list-style-type: none;	
	padding-left: 0;
	margin: 0 auto;
}
footer li{
	margin: 1em 0;
	padding: 0 0 0 0;
	font-weight: 400;
}
footer li:last-child{
	margin: 0 0 2.5em 0;
}
footer a{
	text-decoration: none;
	color: black;
}







/*----- HEADER MOBILE ------*/
@media all and (max-width: 414px){


.inscription {
	display: none;
}

.hideN{
	display: block;
	text-decoration: none;
	color: #0065FC;
    font-weight: bold;
    border: none;
    background-color: white;

}

header{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 1.5em 0 2em 0;

}
nav{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.headerMenu{
	width: 50%
}

.headerMenu2{
	width: 50%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

nav a:nth-child(1){
	color: #0065FC;
	border-top: none;
	border-bottom: 0.2em solid #0065FC;
	padding-bottom: 1em;
}
nav a:nth-child(2){
	color: #0065FC;
	border-top: none;
	border-bottom: 0.2em solid grey;
	padding-bottom: 1em;
}

nav a{

	padding: 0 2.5em 2.35em 2.5em;
	text-align: center;
}

.elementMenu {
    margin-left: 0em;
}





#filtres{
	display: flex;
	 flex-wrap: wrap;
	 justify-content: flex-start;
	margin: 2em 0 1.5em 0;
}
#filtres a{
	padding: 0.3em 0 0.3em 0;
}

section{
	padding: 0;
}







#hebergements{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
    justify-content: center;


}


aside{
	order: 1;
	width: 100%;
	margin: 0 auto;
}











#heberMarseille{
	
	order: 2;
	width: 100%;
	margin: 0 auto;
}























#activites{
	width: 100%;
	height: 100%;
}
#activitesM{
	width: 100%;
	height: 100%;
	display : flex;
	flex-direction: column;
}

.actMD{
	width: 100%;

}




















footer{
	width: 100%;
	display : flex;
	flex-direction: column;

}









}

