
body{
	font-family: 'Raleway', sans-serif;
	width: 100%;
	margin: 0 auto;
}


/*---------------- HEADER ----------------*/
header{
	width: 100%;
	display: flex;
	margin: 1.5em 0 2em 0;

}
.elementMenu:nth-child(1) {
	flex:1;
}
header a{
	margin: 0;
}
nav{
	margin: 0;
	padding-top: 1em;
}
nav a{
	text-decoration: none;
	color: black;
	padding: 2.35em 2.5em 0 2.5em;
}
nav a:nth-child(1){
	color: #0065FC;
	border-top: 0.2em solid #0065FC;
}
nav a:nth-child(3){
	color: #0065FC;
	font-weight: bold;
}
nav a:hover{
	color: #0065FC;
}


/*----- HEADER MOBILE ------*/
@media (max-width: 660px){

header{
	display: flex;
	align-content: center;

}
nav:nth-child(3){
	order: 1;
}
nav:nth-child(1){
	order: 2;
}
nav:nth-child(2){
	order: 3;
}






}












/*----------- SECTION RECHERCHE ----------*/
section{
	margin: 1em;
}
section h1{
	margin: 0 0 0.3em 0;
}
.secP{
	margin: 0 0 0.5em 0;
}
.elementMenu:nth-child(1){
	margin-left: 1em;
}

/*----------- champs géoloc-----------*/

#champsRecherche{
	margin: 1em 0 1em 0;
	display: flex;
}
#champsRecherche a{
	background-color: #f2f2f2;
	border-radius: 15px 0 0 15px;
}
.fa-map-marker-alt{
	padding: 0.9em;
	color: black;
}
.geoloc{
	font-weight: bold;
	height: 3em;
	border:#f2f2f2 1px solid;
	padding-left: 1em; 
}
.geoloc:focus{
	border:#f2f2f2 1px solid;
}
.geoloc::placeholder{
	color: black;
}

.secB{
	border: none;
	color: white;
	font-weight: bold;
	background-color: #0065FC;
	padding: 1em;
	border-radius: 0 15px 15px 0; 
}


/*-------------- Filtres------------------*/
#filtres{
	display: flex;
	margin: 2em 0 1.5em 0;
}

#filtres p{
	font-weight: bold;
	padding: 0.9em 0.5em 0.5em 0.5em;
	margin-block-start: 0;
    margin-block-end: 0;

}
#filtres button{
	display: flex;
}
button{
	padding: 0;
}

.filtresB{
	height: 38px;
	background-color: #ffffff;
	border-radius: 18px 18px 18px 18px;
	border: 2px solid #c9c9c9;
	margin-right: 0.5em;
}
.filtresB:nth-child(1){
	margin-left: 100px;
}

.btnH{
	color: #0065FC;
	padding: 1em 1em 1em 1em;
	border-radius:50%;
  	background-color: #deebff;
}

#infoPoint{
	display: flex;
	margin: 1.5em 0 1.5em 0;
}
#infoPoint p{
	margin-left: 0.5em;
}
.fa-info{
	color:#0065FC;
	font-weight: 100;
	padding: 1.5em 1em 1em 1em;
	border-radius:50%;
  	border:2px solid #f2f2f2;
}

/*---------------- HEBERGEMENTS ----------------*/

#hebergements{
	display: flex;
}
/*---------------- HEBERGEMENTS A MARSEILLE ----------------*/
#heberMarseille{
	width: 65%;
	border-radius: 30px;	
	background-color: #f2f2f2;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
#heberMarseille h2{
	width: 100%;
	padding-left: 1em;
}
#heberMarseille a{
	text-decoration: none;
	color: black;

}
.heberM{
	width: 250px;
	background-color: #FFFFFF;
	padding: 0.5em;
	border-radius: 30px;
	box-shadow: 2px 2px 15px 0.5px grey;
	margin: 1em;

}

.heberM:nth-child(7){

}
.heberM img{
	width: 100%;
	max-height: 110px;
	border-radius: 20px 20px 0 0;
}
#heberMarseille figcaption {
	padding-left: 1em;
}
#heberMarseille h3 {
	margin: 0.5em 0 0.5em 0;
}
.stars{
	display: inline-flex;
	justify-content: center;
	font-size: 1em;
}
.fa-star{
	color: gray;
	cursor: pointer;
	padding: 0.0625rem;
}
.blue{
	color: #0065FC;
}






/*---------------- LES PLUS POPULAIRES ----------------*/
aside{
	width: 35%;
	background-color: #F2F2F2;
	margin-left: 1em;
	border-radius: 30px;	
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	align-content: space-around;
}

aside h2{
	width: 100%;
	padding-left: 10%;
}
aside a{
	text-decoration: none;
	color: black;
}
.pops{
	width: 80%;
	background-color: #FFFFFF;
	padding: 0.5em;
	border-radius: 30px;
	box-shadow: 2px 2px 15px 0.5px grey;
	margin-left: 10%;
	display: flex;
}


.pops img{
	width: 35%;
	height: 130px;
	border-radius: 20px 0 0 20px;
}
aside figcaption {
	padding-left: 1em;
}
aside h3 {
	margin: 0.5em 0 0.5em 0;
}




/*---------------- ACTIVITES A MARSEILLE ----------------*/
#activites{
	width: 100%;
}
#activitesM{
	width: 100%;
	display : flex;
	flex-wrap: wrap;
}
#activitesM a{
	text-decoration: none;
	color: black;
	width: 25%;
}
.actM{
	border-radius: 30px;
	box-shadow: 2px 2px 15px 0.5px grey;
}
.actM img{
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 30px 30px 0 0;
}
.actM h3{
	padding: 0 1em 1em 1em;
}

.actM:nth-child(1) {
	height: 200px;
}







/*---------------- FOOTER ----------------*/
footer{
	display: flex;
	justify-content: space-around;
	background-color: #F2F2F2;
	width: 100%;
}
footer h4{
	font-weight: bolder;
	margin: 2.5em 0 1.5em 0;
}
footer ul{
	list-style-type: none;	
	padding-left: 0;
	margin: 0 auto;
}
footer li{
	margin: 1em 0;
	padding: 0 0 0 0;
	font-weight: 400;
}
footer li:last-child{
	margin: 0 0 2.5em 0;
}
footer a{
	text-decoration: none;
	color: black;
}
